body{
    background: #3e3c3c;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3e3c3c;
    padding: 15px;
    margin-bottom: 10px;
    background: antiquewhite;
}

.navlink{
    color: #3e3c3c;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 1.1rem;
}

.blog{
    background: #fbf8f8;
    padding: 15px;
    color: #3e3c3c;
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
}

.blog:hover{
  box-shadow: 5px 10px #888888;
}

.action-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.link{
    text-decoration: none;
}

.blogdetail{
    display: grid;
    grid-gap: 10px;
    background:#fbf8f8;
    color: #3e3c3c;
    padding: 15px;
     width: 90%;
    max-width: 700px;
    margin: 30px auto;

}

.linkBtn {
    background: #ef9c9c;
    margin: 10px 0;
}

.linkBtn:hover {
    background: #e85050;
}

button {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: none;
}

.btn-links{
    display: flex;
    gap: 5px;
}

.blogcomments{ 
    margin: 30px auto;
     width: 90%;
    max-width: 700px;
    display: grid;
    grid-gap: 20px;
}

.blogcomment{
    background:#fbf8f8;
    color: #3e3c3c;
     padding: 15px;
}

.createblogcomments{
    background:#fbf8f8;
    color: #3e3c3c;
    padding: 10px;
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
}

.form_div {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.form_div input {
    height: 1.5rem;
    padding: 1rem;
}

#text{
    height: 5rem;
    padding: 1rem;
}
